@import "reset.scss";

@font-face {
    font-family: 'Normal TT';
    font-weight: 500;
    src: url('../font/TTNorms-Medium.woff');
}
@font-face {
    font-family: 'Normal TT';
    font-weight: 800;
    src: url('../font/TTNorms-ExtraBold.woff');
}
@font-face {
    font-family: 'Normal TT';
    font-weight: 700;
    src: url('../font/TTNorms-Bold.woff');
}
@font-face {
    font-family: 'Normal TT';
    font-weight: 400;
    src: url('../font/TTNorms-Regular.woff');
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

//----ALL-----


$lh: normal;
$ls: -0.6px;

$pink: #A95094;
$gray: #FAFAFA;
$blackPink: #96317D;
$orange: #FFC464;
$blackOrange: #dfac5c;

$bc: transparent;

$sz: 2px;

body {
    font-family: 'Normal TT';
    font-size: 16px;
    font-weight: 500;
    //overflow: hidden;
}
section {
    overflow: hidden;
}
header {
    overflow: hidden;
}
.container {
    max-width: 1170px; //1170 + 30 на padding
    margin: 0 auto; /*слева и справа автоматические отступы --> контент центрируется*/
    padding: 0px 10px;
}

.header, .offer {
    background-color: $pink;
}

h2 {
    font-size: 45px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.675px;
}

@mixin h3-title($lh, $ls) {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: $ls;
    line-height: $lh;
}

@mixin button($bc, $sz, $color, $pt, $pl,$buttonColor,$fw) {
    border-radius: 15px;
    text-align: center;
    background-color: $bc;
    border: $sz solid $color;
    cursor: pointer;
    padding: $pt $pl;
    color: $buttonColor;
    font-weight: $fw;
}

.default__nav {
    display: flex;
    justify-content: space-between;

    margin-top: 35px;
}
.nav__indicator {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__page {
    background-color: $blackPink;
    width: 8px;
    height: 8px;
    border-radius: 8px;

    &:not(:last-child) {
        margin-right: 20px;
    }
}
            
        
.active {
    border-radius: 26px;
    background-color: transparent;
    border: 2px solid $blackPink;

    .nav__page {
        margin: 8px;
    }
    margin-right: 10px;
}
    

.nav__farther {
    display: flex;
    align-items: center;
}
.nav__left {
    margin-right: 40px;

    background-color: transparent;
    border: 0;

    font-weight: 500;

    cursor: pointer;
    transition-duration: 0.5s;

    &:hover {
        color: #515151;
    }
    &:active {
        color: #1c1c1c;
    }
}

.nav__right button {

    color: $blackPink;
    font-weight: 500;

    background-color: transparent;
    border: 0;

    margin-right: 13px;

    cursor: pointer;

    &:hover + img {
        transform: translateX(10px);
    }

    &:active {
        color: #641a52;
    }

    img {
        transition-duration: 0.5s;
    }
}

.name {
    font-size: 24px;
    font-weight: 500;
}

.status {
    margin-top: 8px;
    font-weight: 400;
}

/*-----HEADER-----*/

.header__container {

    min-height: 112px;
    color: #fff;

    display: flex;
    align-items: center;

    nav {
        margin-left: 74px;
    }

    .button {

        margin-left: 40px;
        margin-right: 0;
    
        transition: color 0.4s, border-color 0.4s;
    
        &:hover {
            border-color: #fff;
            color: #fff;
        }
    
        &:active {
            border-color: #dadada;
            color: #dadada;
        }
    
        @include button($bc,$sz,$orange,16px,38px,$orange,700);
    }
}
.header__border {
    display: none;
}

.header__burger {
    display: none;
}
.logo {
    transform: translate(0,-1px);
    -webkit-transform: translate(0,-4px);

    max-height: 33px;

    cursor: pointer;
}

.header__nav {

    display: flex;
    justify-content: space-between;

    li {
        cursor: pointer;

        transition: color 0.4s;

        &:hover {
            color: $orange;
        }

        &:active {
            color: $blackOrange;
        }
    }

        li + li {
            margin-left: 41px;
        }
}

.select {
    margin-left: 160px;
    position: relative;

    width:110px;
}

.select__current {
    line-height: 24px;
    padding: 9px 0 9px 29px;
}

.select__header {
    display: flex;
    cursor: pointer;

    transition: color 0.4s;

        &:hover {
            color: $orange;
        }

        &:active {
            color: $blackOrange;
        }
}

.select__icon {
    height: 20px;
    width: 20px;

    flex-shrink: 0;

    margin-left: auto;

    position: absolute;
    top: 11px;
}

.select__body {
    width:112px;
    
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;

    border-top: none;  
}

.select__item {
    position: relative;
    
    padding: 8px;
    height: 20px;

    background-color: #fff;
    
    color: #000;

    text-align: center;
    
    cursor: pointer;

    &:hover {
        background-color: #f2f2f2;
    }
    span {
        position: absolute;
        left: 28px;
    }
}

.select__icon-item {
    position: absolute;
    left: 1px;

    height: 20px;
    width: 20px;
}

.select-hide {
    display: none;
}

/*-----MAIN----*/

.main {
    background-color: $pink;   
}

/*-----OFFER----*/

.offer__container {
    max-width: 1406px;
    min-height: 741px;

    color: #FFF;

    position: relative;
}

.offer__main-part {
    display: flex;
    position: relative;
}
        
.offer__background {
    position: relative;
            
    min-height: 741px;
    min-width: 889px;
}

.offer__graphics {
    position: absolute;
    bottom: 0;
    left: 206px;
}

.offer__wash {
    position: absolute;
    left: 0;
    bottom: 27px;
    left: 9px;
}

.offer__repairman {
    position: absolute;
    left: 119px;
    bottom: 2px;
}
        
.offer__text {
    display: flex;
    flex-direction: column;

    position: absolute;
    left: 625px;
    bottom: 250px;

    .button {
        line-height: $lh;
        @include button(#000,0px,transparent,18px,50px,#fff,500);

        max-width: 222px;
        
        transition: color 0.4s, background-color 0.4s;
        
        &:hover {
            color:$orange;
        }
        
        &:active{
            color:$orange;
            background-color: #1c1c1c;
        }
    }
}

.offer__title {
    font-size: 67px;
    font-weight: 800;
    line-height: 95%;
    letter-spacing: -1.005px;

    margin-bottom: 25px;
}

.offer__subtitile {
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 35px;

    strong {
        color: $orange;
        font-weight: 700;
    }
}

.offer__discount {
        
    min-width: 1110px; /*+ 60 padding*/
    min-height: 49px;
    
    z-index: 10;

    position: absolute;
    bottom: 3px;
    left: 50%;
        
    margin-right: -50%;
    transform: translate(-50%, -50%);

    border-radius: 5px;
    background-color: #000;

        
    display: flex;
    align-items: center;

    padding: 0px 30px;

    p {
        margin-left: 9px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;

        strong {
            color: $orange;
        }
    }

    button {
       
        margin-left: 63px;

        background-color: #000;
        border: 0px;
        color: $orange;

        cursor: pointer;
        transition: color 0.4s;

        &:hover + .offer__arrow{
            transform: translateX(10px);
            
        }

        &:active {
            color: #fff;
        }
    }
}

.offer__close-discount {

    cursor: pointer;
}

.offer__elipse {
            
    width: 10px;
    height: 10px;

    border-radius: 10px;
    background: #78C23E;

    margin-left: 65px;

}
.offer__arrow {
    margin-left: 25px;
    transition-duration: 1000ms;
    transform: translateY(2px);
}

/*------------------------advantages------------------------*/
.adantages__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
    margin-left: 125px;
    margin-right: 188px;
    margin-top: 112px;
}
    
.advantages__el {

    max-width: 207px;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;

    img {
        margin-bottom: 26px;
    }

    &:first-child {
        line-height: 130%;
    }

    .advantages__el + .advantages__el {
        margin-left: 93px;
    }
}
/*--------------diagnostics--------------------*/
.diagnostics {
    background-color: $gray;
    margin-top: 87px;
}

.diagnostics__container {
    display: flex;
    justify-content: space-between;

    margin-right: 0;
    padding-right: 0;

    max-width:1242px;
    min-height: 818px;

    .button {

        line-height: 24px;

        margin-right: 16px;
        margin-bottom: 20px;

        @include button($bc,1px,$blackPink,14px,28px,$blackPink,500);

        transition-duration: 0.5s;
        &:hover {
            background-color: $blackPink;
            color: #fff;
        }
        &:active {
            background-color: #641a52;
        }
    }
}

.diagnostics__text {
    max-width: 624px;

    p:first-child {
        padding-top: 115px;
    }
}

.diagnostics__subtitle {
    color: $pink;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.65px;
    text-transform: uppercase;
}

.diagnostics__title {
    margin-top: 15px;
}

.diagnostics__nav {
    margin-top: 52px;
    display: flex;
    flex-wrap: wrap;
}

.diagnoctics__notice {
    margin-top: 28px;

    display: flex;
    align-items: center;

    font-family: Montserrat;
    font-weight: 500;
    line-height: 28px;

    img {
        margin-right: 14px;
        }
}

.diagnoctics__notice-mobile {
    display: none;
}
.diagnostics__background {
    position: relative;
    right: 0;
        
    margin-right: 0;
}
    
.diagnoctics__graphics {
    position: absolute;
    top: 5px;
    right: 0px;
}

.diagnoctics__washmachine {
    position: absolute;
    right: 61px;
    top: 61px;
}

.diagnoctics__square {
    position: absolute;
    bottom: 155px;
    right: 514px;
}

.diagnostics__input {
    display: none;
}
/*--------------------PRICE------------------------*/
.price__container {
    padding-top: 100px;
    text-align: center;
}

.price__list {
    max-width: 971px;
    margin: 0 auto;
    margin-top: 27px;

    display: grid;
        
    grid-template-columns: 590px 202px 178px;
    grid-template-rows: repeat(6, 74px);
    column-gap: 1px;
    align-items: center;
}

.price__list-mobile {
    display: none;
}

.price__item {
    border-bottom: 1px solid #ECECEC;
    text-align: right;
    line-height: 24px;
    font-weight: 500;

    padding-top: 25px;
    padding-bottom: 25px;

    &:nth-child(3n + 1) {
        text-align: left;
    }
    
    span {
        font-size: 18px;
    }
}

.price__prices {
    font-size: 18px;
}

.space {
    color: #fff;
}

.price__header {
    font-weight: 400;
}

.price__free {
    color: $blackPink;
    font-size: 18px;
}

.price__show {
    margin-top: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    button {
        background-color: transparent;

        line-height: 24px;
        font-weight: 500;

        color: $blackPink;
        text-align: center;
            
        border: 0px;
        margin-right: 10px;

        cursor: pointer;

        transition-duration: 0.5s;

            &:hover {
                color: #641a52;
            }

            &:hover + img{
                transform: rotate(360deg);
            }

            &:active {
                color: #2d0b24;
            }
        }
    img {
            transition-duration: 1000ms;
        }
}

/*---------------team----------------------*/
.team {
    background-color: $gray;
}

.team__container {
    padding-top: 100px;
    padding-bottom: 174px;
    margin-top: 100px;

    text-align: center;

    overflow: hidden;
}

.team__subtitle {
    color: $blackPink;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;

    margin-bottom: 10px;
}

.team__workers {
    display: flex;
    //justify-content: space-around;

    margin-top: 50px;

   transition-duration:  2s;
}

.team__person {
    min-width: 370px;
    min-height: 647px;
            
    background-color: #fff;

    border-radius: 15px;

    text-align: left;

    margin-right: 30px;

    

    img {
        border-radius: 15px 15px 0px 0px;
        }
    
  //  &:nth-child(n+4) {
   //     display: none;
   // }
}

.team__description {
    padding-left: 45px;
    padding-top: 47px;
}
            
.team__advantages {
                
    margin-top: 25px;
    color: $blackPink;
                
    font-weight: 500;

    li {

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        img {
                margin-right: 10px;
            }
        }

}

/*-------------feedback---------------*/
.feedback__container {
    padding-top: 32px;
    padding-bottom: 100px;

    text-align: center;
}

.feedback__title {
    @include h3-title(130%,$ls);
}

.feedback__cards {
    margin-top: 45px;

    display: flex;
}

.feedback__item {
    background-color: $gray;

    padding: 75px 50px;
    text-align: left;

    max-height: 470px;
    width: 570px;

    &:not(:last-child) {
        margin-right: 30px;
    }
}
            
.feedback__person {
    display: flex;
    align-items: center;

    img {
        margin-right: 30px;
    }
}

.feedback__description {
    margin-top: 35px;

    font-size: 18px;
    line-height: 150%;
    font-weight: 400;
}

/*---------------------------stars--------------------------*/
.stars {
    background-color: $gray;
}
.stars__container {
    padding: 46px 135px;
}
    
.stars__cards {
    display: flex;
}

.stars__item {
    border-radius: 15px;
            
    background: #FFF;

    padding: 35px;
            
    width: 370px;
    height: 75px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.stars__border {
    width: 1px;
    height: 65px;
    background-color: #E3E3E3;
}
            
.stars__five {

    display: flex;
    align-items: center;

    img {
        margin-right: 10px;
    }
}

.stars__numbers {
    font-size: 25px;
    
    strong {
        font-size: 35px;
    }
}

.stars__count {
    margin-top: 5px;
}

/*---------------quastions-------------*/
.questions__container {
    padding-top: 100px;
    padding-bottom: 100px;

    display: flex;
}

.questions__title {
    @include h3-title(100%, 0px);  
    max-width: 329px;       
}

.questions__subtitle {
    margin-top: 23px;

    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.9px;

    max-width: 301px;

    span {
        display: inline-block;
        line-height: 13px;
        color: $pink;
        font-weight: 500;
        border-bottom: 1px solid $pink;
    }
}

.questions__list {
        
    margin-left: 175px;
}

.questions__item {

    display: flex;
    justify-content: space-between;
    align-items: center;

    min-width: 657px;
    max-height: 49px;
    border-radius: 5px;

    background-color: $gray;

    padding:18px 30px 18px 35px;

    font-size: 20px;
    letter-spacing: -0.4px;
    line-height: normal;
            
    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.questions__show {

    width: 38px;
    height: 38px;
    border-radius: 38px;
    background: $blackPink;

    img {
        padding: 12px;
    }
}

/*  ------------call-------------*/
.call {
    background-image: url('../img/background/call_background.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    max-height: 384px;
    
    padding: 100px 51px;
}

.call_container {

    padding: 48px 84px;

    background-color: #fff;
    border-radius: 15px;

    display: flex;
    align-items: center;
}

.call__title {
    @include h3-title($lh,-0.6px);
}

.call__subtitle {
    margin-top: 10px;
    color: #171717;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
}

.call__form {

    margin-left: 60px;

    input {
        border: 0px;
        border-radius: 10px;
        background: #F5F5F5;

        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 30px;

        font-size: 16px;
        font-weight: 500;

        width: 296px;
    }

    button {
        margin-left: 27px;
        line-height: $lh;
        @include button($pink,0,transparent,25px,96px,#fff,500);

        transition-duration: 0.5s;
        &:hover {
            background-color: $blackPink;
            color: #fff;
        }
        &:active {
            background-color: #641a52;
        }
    }
}

/*-------------------GEO----------------*/

.geo__container {
    padding-top: 100px;
    padding-left: 15px;

    display: flex;
    align-items: center;
}

.geo__info {
        margin-left: 65px;

        h3 {
            @include h3-title(100%,-0.6px);
            margin-bottom: 50px;
        }

        .button {

            @include button($bc, 2px, $blackPink, 16px, 38px, $blackPink, 700);

            transition-duration: 0.5s;
            &:hover {
                background-color: $blackPink;
                color: #fff;
            }
            &:active {
                background-color: #641a52;
            }
        }

}

.geo__street {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;

    margin-bottom: 10px;
}

.geo__time {
    font-weight: 400;
    line-height: 24px;
}

.geo__address {
    margin-bottom: 35px;
}
        
.geo__email {
    line-height: 24px;
    font-size: 18px;

    margin-bottom: 35px;
}


/*---------------navigation---------------------------*/

.navigation__container {
    
    padding-top: 97px;
    text-align: center;
}

.navigation__img {
    margin-bottom: 32px;

    cursor: pointer;

    .navigation__F {
            margin-right: 8.5px;
    }
}

.navigation__nav {

    padding-left: 254px;
    padding-right: 253px;

    ul {
        display: flex;
    }
}

.navigation__item {

    line-height: 20px;
    font-weight: 500;

    &:not(:last-child) {
        margin-right: 40px;
    }

    cursor: pointer;
    transition-duration: 0.5s;
    
    &:hover {
        color: #515151;
    }
    
    &:active {
        color: #1c1c1c;
    }
}

/*------------------pay-------------------------*/

.pay {
    background-color: $gray;
   
  //  margin-left: 51px;
   // margin-right: 51px;
}

.pay__container {
    margin-top: 49px;

    display: flex;
    align-items: center;

    padding-top: 36px;
    padding-bottom: 36px;

    padding-left: 270px;
}

.pay__text {
        
    line-height: 20px;
    margin-right: 26px;
}

.pay__cards {
    display: flex;
}

.pay__item {
    border-radius: 10px;
    background-color: #FFF;

    text-align: center;

    height: 50px;
    width: 92px;

    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:last-child) {
        margin-right: 15px;
    }

    font-size: 14.3px;
    line-height: 26px;
    letter-spacing: -0.429px;

    text-align: center;
}

/*---------------footer---------------*/
.footer__container {
    padding-top: 50px;
    padding-bottom: 30px;
    
    display: flex;
    justify-content: space-between;

    p {
        font-weight: 400;
        line-height: 20px;
    }
}

/*-------ALERT-CALL----------*/
.alert {
    position: absolute;
    top: 20%;
    bottom: 50%;
    left: 50%;
    right: 50%;

    opacity: 0;
    animation: ani 0.5s forwards;
  
  @keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

}
.alert__container {
    //display: none;

    position: relative;

    width: 490px;
    height: 490px;

    background-color: #fff;
    border-radius: 15px;

    padding: 10px;

    svg {
        position: absolute;
        right: 20px;
        top: 20px;

        cursor: pointer;
    }

}

.alert__title {
    font-size: 36px;
    font-weight: 700;
    margin-top: 30px;
    margin-left: 30px;
}

.alert__form {
    margin-top: 20px;
    margin-left: 30px;

    font-size: 24px;

    p {
        margin-bottom: 10px;
    }

    input {
        padding: 20px;
        color: #515151;
        
        min-width: 385px;
        font-weight: 500;
        border-radius: 3px;
        border: 1px solid #b7b7b7;

        &:first-of-type {
            margin-bottom: 60px;
        }
    }

    .button {
        margin-top: 30px;
        @include button($pink,1px,#fff,14px,28px,#fff,500);

        transition-duration: 0.5s;
        &:hover {
            background-color: $blackPink;
            color: #fff;
        }
        &:active {
            background-color: #641a52;
        }
    }
}
/*------------------ADAPTIV------------------------*/

@media (max-width: 1920px) {
    
    .diagnoctics__notice-desktop {
        display: flex;
    }
    .diagnoctics__notice-mobile {
        display: none;
    }

    .team__person {
        display: block;
    }

    .feedback__item {
        display: block;
    }

    .geo__title-desktop {
        display: flex;
    }
    .geo__title-mobile {
        display: none;
    }
    .geo__map-iframe {
        width: 731px;
        height: 580px;
    }

}

@media (min-width: 1600px)
 {
    .adantages__container {
        margin-left: auto;
        margin-right: auto;
    }

    .diagnostics__container {
        margin-left: auto;
        margin-right: auto;
    }
 }

@media (max-width: 1400px) {
   
    .diagnoctics__notice-desktop {
        display: flex;
    }
    
    .diagnoctics__notice-mobile {
        display: none;
    }

    .stars__numbers {
        font-size: 20px;

        strong {
            font-size: 30px;
        }
    }

    .call__subtitle {
        font-size: 18px;
    }

    .call__form {
        input {
            width: 250px;
        }
    }
    .geo__title-desktop {
        display: flex;
    }
    
    .geo__title-mobile {
        display: none;
    }
}

@media (max-width: 1100px) {

    .team__nav {
        //Вычитаем из ширины экрана 30*2 - отуступы контейнера, 375*2 - ширину карточек и делим на 3, так как между карточками 3 отступа
        //margin: 0 auto;
        margin-left: calc((100vw - 60px - 690px) / 3); 
        margin-right: calc((100vw - 60px - 690px) / 3);
    }

    .team__workers {
        //justify-content: space-evenly;
        width: 800px; //370px*2px+60px;
        margin-left: 30px;
       
    }

    .team__person {
        //min-width: 345px;
        min-height: 622px;

      //  &:nth-child(n+3) { /*все элементы кроме первых 2*/
     //       display: none;
      //  }
    }

    .team__container {
        max-width: 800px;
        padding: 100px 0px;
    }

    .team__photo {
       // width: 345px;
    }

    .feedback__nav {
        margin-left: calc((100vw - 60px - 720px)/2);
        margin-right: calc((100vw - 60px - 720px)/2);
    }

    .feedback__container {
        padding-top: 100px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .feedback__cards {
        justify-content: center;
    }

    .feedback__item{
        width: 596px;
        padding: 50px 62px;
        &:not(:last-child) {
            margin-right: 0px;
        }
    }

    .questions__title {
        max-width: 700px;
        font-size: 45px;
    }
    .questions__subtitle {
        max-width: 530px;
    }
    .questions__container {
        flex-direction: column;
    }
    .questions__text {
        text-align: center;
        margin: 0 auto;
    }
    .questions__list {   
        margin-left: 20px;
        margin-right: 30px;
        margin-top: 50px;
    }
    

    .feedback__item {
        &:nth-child(n+2) {
            display: none;
        }
    }

/*---header------*/
    .logo {
        order: 4;
        margin-left: 20px;
        margin-top: 30px;
    }

    .header__border {
        display: block;
        order: 3;
        height: 1px;
        background-color: #994786;
        width: 100%;
        position: absolute;
        top: 60px;

        transform: translateX(-10px);
    }

    .header__container {
        
        min-height: 136px;

        flex-wrap: wrap;
        justify-content: space-between;
        

        nav {
            order: 2;
            margin-right: 20px;
            margin-top: 3px;
        }

        .button {
            order: 5;
            margin-right: 20px;
            margin-top: 20px;
        }
    }

    .select {
        order: 1;
        margin-left: 20px;
    }

    /*----offer----*/

.offer__container {
    min-height: 980px;
}
.offer__background {
    min-height: 980px - 100px;
    min-width: 780px;
}
.offer__text {
    left: 58px;
    right: 58px;
    top: 35px;
    text-align: center;
    align-items: center;
    
}
.offer__title {
    //text-align: center;
    font-size: 67px;
}

.offer__wash {
    width: 344px;
    height: 456px;

    bottom: 0;
    left: 14px;
}

.offer__repairman {
    width: 574px;
    height: 547px;
    left: 163px;
}

.offer__graphics {

    height: 547px;
    left: 375px;
}

.offer__text .button {
    margin-top: 415px;
}

.offer__elipse {
    margin-left: 25px;
}

.offer__discount {
    
    height: 112px;
    top: 925px;

    min-width: calc(100vw - 60px);
    p {
        margin-left: 20px;
        max-width: 400px;
    }
  }

.offer__arrow {
    margin-left: 10px;
}
/*----advantages----*/

.adantages__container {
    flex-wrap: wrap;
    margin: 70px 30px;

    min-width: 700px;
    justify-content: space-around;
}

.advantages__el {
    
    display: flex;
    min-width: 320px;
    align-items: center;
    
    
    &:nth-child(-n+2) {
        margin-bottom: 30px; 
    }
    
    &:first-child {
       // margin-right: 60px;
    }
    p {
        min-width: 210px;
    }
    img {
        margin-right: 25px;
        max-width: 90px;
    }
}

/*--------------diagnostics-------------*/
.diagnostics {
    margin-top: 0px;
}

.diagnostics__container {
    flex-direction: column;
    padding-bottom: 48px;
}

.diagnoctics__notice-desktop {
    display: none;
}

.diagnoctics__notice-mobile {
    display: flex;
}

.diagnostics__text {
    text-align: center;
    margin: 0 auto;

    order: 1;

    margin-bottom: 16px;

    p:first-child {
        padding-top: 100px;
    }
}

.diagnostics__nav {
    display: none;
}

.diagnostics__input {
    display: block;
    order: 3;
}

.diagnostics__background {
    min-height: 580px;
    order: 2;
}

.diagnoctics__washmachine {
    top: 13px;
    left: 179px;
    max-height: 600px;
    max-width: 400px;
}

.diagnoctics__square {
    bottom: 230px;
    right: 530px;
    width: 64px;
}

.diagnoctics__graphics {
    transform: rotate(90deg);
    max-width: 273px;
    max-height: 546px;
    top: 125px;
    right:138px;
}

.diagnoctics__notice {
    order: 4;
    margin: 0 auto;
    margin-top: 28px;
}

.diagnostics__input {
margin: 0 auto;
    select {
    width: 720px;
    background-color: transparent;
    color: $pink;

    font-size: 18px;

    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.36px;

    border: 2px solid #96317D;
    border-radius: 5px;

    padding: 21px;

    text-align: center;
    }
}

.price__list {
    max-width: 720px;
    grid-template-columns: 390px 150px 178px;
    grid-template-rows: repeat(6, 74px);
}

.stars__container {
    padding: 50px 30px;
}
.stars__cards {
    justify-content: center;
}
.stars__item {
    flex-wrap: wrap;
    height: 207px - 70px;
    width: 220px - 70px;
}
.stars__border {
    width: 65px;
    height: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 15px;
}
.stars__numbers {
    font-size: 25px;
    
    strong {
        font-size: 35px;
    }
}


.call {
    max-height: 500px;
    background-size: cover;
    padding: 50px 30px;
}
.call_container {
    flex-direction: column;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 75px;

}
.call__text {
    text-align: center;
   // margin-top: 75px;
   
}
.call__subtitle {
    font-size: 20px;
}
.call__form {
    margin-top: 35px;
    width: 390px;
    margin-left: 0;
   // margin-bottom: 75px;

    input {
        margin-bottom: 20px;
        width: 390px - 30px;
        //margin: 0 auto;
    }
    button {
        width: 390px;
        margin-left: 0;
        //margin: 0 auto;
    }
    
}

.geo__container  {
    flex-direction: column;
    align-items: stretch;

    h3 {
        @include h3-title(100%,-0.6px);
        margin-bottom: 35px;
    }
}

.geo__info {
    margin-top: 35px;
    margin-left: calc((100vw - 720px) / 2);
    display: grid;
    //grid-template-columns: repeat(2,1fr);
    grid-template-columns: 390px 165px;
   // grid-template-rows: repeat(2,1fr);
    grid-template-rows: 70px 55px;
    grid-auto-flow: column;
   // grid-template-columns: 380px 200px;

}
.geo__map {
    margin: 0 auto;
}
.geo__map-iframe {
    width: 720px;
    height: 372px;
}
.geo__title-desktop {
    display: none;
}

.geo__title-mobile {
    display: block;
    margin: 0 auto;
}

.navigation__nav {
display: block;
    padding: 0;
    ul {
    //margin: 0 auto;
    justify-content: center;
    }
}

.pay {
    width: 100%;
    margin: 0;
}
.pay__container {
    padding-left: 0;
    flex-direction: column;
}
.pay__text {
    margin-bottom: 15px;
}

.footer__container {
    padding: 35px 20px;
    justify-content: space-between;
}

}

@media (width: 960px) {
    .header__container nav {
        margin-left: 200px;
    }
    .offer__background {
        margin-left: 90px;
    }
    .offer__discount button {
        margin-left: 190px;
    }
    .diagnoctics__washmachine {
        left: 279px;
    }
    .diagnoctics__square {
        right: 630px;
    }
}

@media (max-width: 835px) {
    .team__workers {
        margin-left: 15px;
    }
}
@media (max-width: 780px) {
    
    .team__container {
        max-width: 100vw;
        padding: 100px 30px;
    }
    .team__workers {
        //justify-content: space-between;
        margin-left: 0;
    }

    .team__person {
        min-width: 345px;
    }

    .team__photo {
        width: 345px;
    }

    .team__nav {
        margin-left: 0;
        margin-right: 0;
    }

    .stars__numbers {
        font-size: 20px;
    }

    .header__container nav {
        margin-right: 10px;
    }
    .select {
        margin-left: 10px;
    }
    .logo {
        margin-left: 10px;
    }
    .header__container .button {
        margin-right: 10px;
    }
    
    .offer__title {
        font-size: 60px;
    }
    .offer__discount button{
        margin-left: 40px;
    }
}

@media (width: 1024px) {
    .offer__discount button {
        margin-left: 264px;
    }
    .header__container nav {
        margin-left: 200px;
    }
    .offer__background {
        margin-left: 110px;
    }
    .diagnoctics__square {
        right: 700px;
    }
}

@media (max-width: 765px) {
    
    .team__workers {
        width: auto;
        
    }
    .team__person {
        min-width: 335px;
    }

    .team__photo {
        width: 335px;
    }

}

@media (max-width: 751px) {
    .team__container {
        padding: 100px 30px 100px 25px;
    }
}

@media (max-width: 648px) {
    .team__person {
        min-width: 285px;
    }

    .team__photo {
        width: 285px;
    }
}
@media (max-width: 601px) 
{
    .team__person {
        min-width: 370px;
        margin-left: 100px;
    }

    .team__photo {
        width: 370px;
    }
}

@media (max-width: 541px) {
    .team__person {
        min-width: 370px;
        margin-left: 70px;
    }

    .team__photo {
        width: 370px;
    }
}

@media (max-width: 505px) {
    
    .price__list-mobile {
        display: grid;
    }
    h2, h3 {
        font-size: 30px;
    }
    .header__container {
        justify-content: space-between;
    }
    .header__container nav {
        display: none;
    }

    .header__burger {
        display: block;
        
        order: 2;
        margin-right: 10px;
        margin-left: 220px;

    }

    .header__burger-line {
        background-color: #fff;
        
        height: 1.5px;
        width: 20px;
        &:not(:last-child) {
            margin-bottom: 3px;
        }
    }

    .header__container .button {
        padding: 12px 30px;
        margin-left: 20px;
    }

    .offer__container {
        min-height: 700px;
    }

    .offer__text {
        left: 15px;
        right: 0;
        text-align: left;
    }
    .offer__title {
        font-size: 38px;
    }

    .offer__subtitile {
        font-size: 18px;

        br {
            display: none;
        }
    }

    .offer__wash {
        width: 215px;
        height: 292.523px;
    }

    .offer__graphics {
        width: 181.994px;
        height: 272.989px;

        left: 217px;
    }

    .offer__repairman {
        width: 349px;
        height: 335px;

        left: 130px;
    }

    .offer__background {
        min-height: 350px;
        top: 250px;
    }

    .offer__text .button {
        margin-top: 250px;
    }

    .offer__discount {
        top: 660px;

        height: 142px;
        padding: 0 10px;
        flex-wrap: wrap;

        font-size: 16px;

        p {
            text-align: center;
            max-width: 301px;
        }
    }

    .offer__discount-btn {
        margin: 0 auto;
    }
    .offer__elipse {
        margin-left: 15px;
    }

    .adantages__container {
        
        flex-direction: column;
        align-items: center;

        min-width: calc(100vw - 60px);
        padding: 0;
    }

    .advantages__el:not(:last-child) {
        margin-bottom: 30px;
    }

    .advantages__el {
        
        img {
        margin-bottom: 0;
        margin-right: 0;
        }

        p {
            position: absolute;
            left: 140px;
        }
    }

    .diagnostics__title {
        font-size: 30px;
        margin-top: 5px;
    }

    .diagnostics__background {
        min-height: 520px;
    }

    .diagnoctics__washmachine {
        
        max-width: 296px;
        $mw: max-width;
        max-height: 458px;

        left: calc((100vw - 296px)/2);
    }

    .diagnoctics__graphics {
        right: 0;
        top: 80px;
    }

    .diagnostics__input select {
        width: calc(100vw - 60px);
    }

    .price__container {
        padding-top: 75px;
    }

    .price__list-desktop {
        display: none;
    }

    .price__list {
       // grid-template-columns: repeat(2, 2fr);
       grid-template-columns: 2fr 1fr;
       //grid-auto-rows: 1fr;

    }
    .price__item {
        font-size: 16px;
        //font-weight: 400;
        text-align: left;
        //padding: 0 20px;
        &:nth-child(2n) {
            text-align: right;
        }
    }

    .price__show {
        margin-top: 0;
    }

    .team__container  {
        margin-top: 75px;
        
        padding: 75px 30px;
    }

    .team__workers {
        //margin-left: 20px;
    }

    .team__person {
        min-width: 370px;
        margin-left: 40px;
    }

    .team__photo {
        width: 370px;
    }

    .feedback__container {
        padding-top: 75px;
    }
    .feedback__title {
        font-size: 30px;
    }

    .feedback__cards {
        margin-top: 35px;
    }

    .feedback__item {
        width: 360px;
        height: 360px;

        padding: 30px;
    }

    .feedback__description {
        margin-top: 30px;
    }

    .feedback__person img {
        width: 54px;
        height: 54px;
    }
    .name {
        font-size: 18px;
    }

    .status {
        font-size: 16px;
    }

    .feedback__nav {
        margin-left: calc((100vw - 60px - 360px) / 2);
        margin-right: calc((100vw - 60px - 360px) / 2);
    }

    .stars__cards {
        flex-direction: column;
        align-items: center;
    }

    .stars__item {
        margin-right: 0;
        padding: 20px;
        
        width: auto;

        justify-content: space-between;

        max-height: 105px - 20px - 20px;
        width: 360px - 20px - 20px;
    }

    .stars__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 25px;
    }

    .stars__border {
        width: 1px;
        height: 65px;

        margin-left: 15px;
    }
    .questions {
        padding-left: 15px;
        padding-right: 15px;
    }
    .questions__text {
        text-align: left;
    }

    .questions__title {
        font-size: 30px;
    }

    .questions__subtitle {
        text-align: left;
        max-width: 340px;
    }

    .questions__item {
        min-width: 360px - 35px - 30px;
    }

    .questions__question {
        font-size: 18px;
    }

    .questions__list {
        margin-left: 0;
        margin-right: 0;
        margin-top: 35px;
    }

    .call_container {
        padding: 75px 30px;
    }
    .call__title {
        font-size: 30px;
    }

    .call__subtitle {
        font-size: 16px;
    }

    .call__form {
        width: 300px;

        input {
            width: 300px - 30px;
        }

        button {
            width: 300px;
            padding: 25px 0;
        }
    }

    .geo__container {
        
        h3 {
            font-size: 30px;
        }
    }

    .geo__map-iframe {
        width: 360px;
        height: 231px;
    }

    .geo__info {
        display: flex;
        flex-direction: column;

        margin-left: calc((100vw - 360px) / 2);

        .button {
            width: 162px;
        }
    }

    .navigation__container {
        padding-bottom: 75px - 15px;
    }

    .navigation__nav ul{
        flex-wrap: wrap;

        li {
            margin-bottom: 15px;
        }
    }
    .pay__container {
        padding-top: 35px;
        padding-bottom: 35px - 15px;
        padding-left: 10px;

        margin-top: 0;
    }
    .pay__cards {
        flex-wrap: wrap;

        justify-content: center;
    }

    .pay__item {
        margin-bottom: 15px;

        &:not(:last-child) {
            margin-right: 10px;
        }

        &:nth-child(3n) {
            margin-right: 0px;
        }
    }

    .pay__text {
        margin-right: 0;
    }

    .footer__container {
        flex-direction: column;
        text-align: center;

        p {
            &:first-child {
                margin-bottom: 10px;
            }
        }
    }
}
@media (max-width: 435px) { 
    .team__person {
        margin-left: 5px;
    }
}
@media (max-width: 429px) { 
    .team__person {
        margin-left: 1px;
    }
}
@media (max-width: 420px) { 
    .team__container {
     //   padding: 75px 30px;
    }

    .team__person {
        min-width: 360px;
        min-height: 600px;

        margin-left: 0px;

        &:not(:first-child) {
           // margin-left: 10px;
        }
        
    }

    .team__photo {
        width: 360px;
    }
}

@media (max-width: 401px) {
    .team__person {
        min-width: 335px;
        min-height: 600px;

        margin-left: 0px;

        &:not(:first-child) {
            margin-left: 10px;
        }
        
    }

    .team__photo {
        width: 335px;
    }
}

@media (max-width: 376px) {

    .offer__text {
        text-align: center;
        left: 0px;
    }

    .offer__title {
        font-size: 32px;
    }

    .offer__subtitile {
        font-size: 16px;
    }

    .offer__background {
        top: 230px;
    }

    .offer__repairman {
        left: 110px;
    }

    .offer__discount {
        top: 640px;
    }

    .offer__elipse {
        display: none;
    }
    
    .offer__discount p {
        font-size: 14px;
    }

    .offer__close-discount {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .offer__discount-btn {
        font-size: 14px;
    }

    .advantages__el {
        font-size: 18px;
    }

    .header__burger {
        display: block;
        
        order: 2;
        margin-right: 10px;
        margin-left: 100px;

    }
    .header__container .button {
        padding: 10px 28px;
        margin-left: 20px;
        font-size: 12px;
    }

    .team__container {
        padding: 75px 20px;
    }

    .team__person {
        min-width: 335px;
        min-height: 600px;

        margin-left: 0px;

        &:not(:first-child) {
            margin-left: 20px;
        }
        
    }

    .team__photo {
        width: 335px;
    }

    .default__nav {
        margin-left: calc((100vw - 40px - 335px) / 3);
        margin-right: calc((100vw - 40px - 335px) / 3);
    }

    .feedback__description {
        font-size: 16px;
        margin-top: 16px;
    }

    .name {
        font-size: 16px;
    }

    .status {
        font-size: 14px;
    }

    .active {
        margin-right: 5px;
    }

    .nav__page {
        width: 6px;
        height: 6px;
    }

    .nav__page:not(:last-child) {
        margin-right: 10px;
    }

    .active .nav__page {
        margin: 4px;
    }

    .nav__farther {
        font-size: 14px;
    }

    .nav__left {
        margin-right: 50px;
    }

    .stars__item {
        width: 250px
    }

    .stars__numbers strong {
        font-size: 25px;
    }

    .stars__count {
        font-size: 14px;
    }

    .stars__border {
        margin-left: 10px;
        margin-right: 10px; 
    }

    .questions__subtitle {
        font-size: 16px;
    }

    .questions__item {
        min-width: 200px;

        padding: 12px;
    }

    .questions__question {
        font-size: 16px;
    }

    .call_container {
        padding: 60px 10px;
    }

    .call__form {

    width: 230px;
    
        input {
            width: 200px;
        }

        button {
            width: 230px;
        }
    }

    .geo__map-iframe {
        width: 290px;
        height: 211px;
    }

    .geo__info {
        margin-left: calc((100vw - 290px) / 2);
    }

    .geo__street {
        font-size: 16px;
    }

    .navigation__item {
    
        &:not(:nth-child(3n)) {
            margin-right: 10px;
        }

        &:nth-child(3n) {
            margin-right: 0;
        }
}

}

@media (max-width: 360px) {
    .team__person {
        min-width: 300px;
        min-height: 600px;

        margin-left: 10px;

        &:not(:first-child) {
            margin-left: 20px;
        }
        
    }

    .team__photo {
        width: 300px;
    }
}

@media (max-width: 320px) {
    .advantages__el {
        
        p {
            position: absolute;
            left: 130px;
            font-size: 16px;
        }

        img {
            max-width: 70px;
        }

        &:nth-child(3) {
            
            img {
                max-width: 60px;
            
            }
        }
    }

    
    .team__person {
        min-width: 260px;
        min-height: 530px;

        img {
            max-width: 260px;
        }
    }

    .default__nav {
        margin-left: calc((100vw - 40px - 260px) / 3);
        margin-right: calc((100vw - 40px - 260px) / 3);
    }

    .feedback__description {
        font-size: 14px;
        margin-top: 30px;
    }

    .nav__left {
        margin-right: 40px;
    }


}