@import "reset.scss";

@font-face {
    font-family: 'Normal TT';
    font-weight: 500;
    src: url('/font/TTNorms-Medium.woff');
}
@font-face {
    font-family: 'Normal TT';
    font-weight: 800;
    src: url('/font/TTNorms-ExtraBold.woff');
}
@font-face {
    font-family: 'Normal TT';
    font-weight: 700;
    src: url('/font/TTNorms-Bold.woff');
}
@font-face {
    font-family: 'Normal TT';
    font-weight: 400;
    src: url('/font/TTNorms-Regular.woff');
}
//----ALL-----
body {
    font-family: 'Normal TT';
    font-size: 16px;
    font-weight: 500;
}
.container {
    max-width: 1170px; //1170 + 30 на padding
    margin: 0 auto; /*слева и справа автоматические отступы --> контент центрируется*/
    padding: 0px 10px;
}
.header, .offer {
    background-color: #A95094;
}
/*-----HEADER-----*/
.header__container {
    min-height: 112px;
    color: #fff;
    display: flex;
    //justify-content: space-between;
    align-items: center;
    .logo {
        transform: translate(0,-1px);
        -webkit-transform: translate(0,-4px);
        max-width: 112px;
        max-height: 33px;
        cursor: pointer;
    }
    nav {
        margin-left: 74px;
    }
    .header__nav {
        display: flex;
        justify-content: space-between;
        li {
            cursor: pointer;
        }
        li + li {
            margin-left: 41px;
        }
    }
    .select {
        margin-left: 160px;
        position: relative;
        width:110px;
        .select__header {
            display: flex;
            cursor: pointer;
        }
        .select__current {
            line-height: 24px;
            padding: 8px 0 8px 28px;
        }
        .select__icon {
            height: 20px;
            width: 20px;
            flex-shrink: 0;
            margin-left: auto;
            position: absolute;
            top: 11px;
        }
        .select__body {
            width:112px;
            position: absolute;
            border-top: none;
            left: 0;
            right: 0;
            top: 100%;
        }
        .select__item {
            position: relative;
            padding: 8px;
            background-color: #fff;
            color: #000;
            height: 20px;
            text-align: center;
            cursor: pointer;
            &:hover {
                background-color: #f2f2f2;
            }
            .select__icon-item {
                position: absolute;
                left: 1px;
                height: 20px;
                width: 20px;
            }
            span {
                position: absolute;
                left: 28px;
            }
        }
        .select-hide{
            display: none;
        }
    }
}
.button-call {
    margin-left: 40px;
    color: #FFC464;
    border-radius: 15px;
    border: 2px solid #FFC464;
    padding: 18px 40px;
    background-color: #A95094;
    margin-right: 0;
    cursor: pointer;
}
/*-----MAIN----*/
.main {
    background-color: #A95094;   
}
/*-----OFFER----*/
.offer__container {
    max-width: 1406px;
    min-height: 850px;
    .offer__main-part {
        display: flex;
        justify-content: space-between;
    }
    .offer__background {
        position: relative;
        min-height: 741px;
        min-width: 889px;

        .offer__graphics {
           // z-index: 1;
            position: absolute;
            bottom: 0;
            left: 213px;

        }
        .offer__wash {
           // z-index: 2;
            position: absolute;
            left: 0;
            bottom: 22px;

        }
        .offer__repairman {
            position: absolute;
            //z-index: 3;

        }
    }
}
