*, *::before, ::after {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}
a, a:visited, a:hover {
    color: inherit; /*наследование цвета от родителя*/
    text-decoration: none; 
}
a:focus, a:active {
    outline: none; /*убираем подчеркивание*/
}
h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
}
/*Выбираем соседний абзац*/
p + p {
margin-top: 1em; /*fz шрифта*/
}
ul {
    list-style: none; /*убираем маркеры у списка*/
}
img, svg, video {
    display: inline-block;
    vertical-align: top; /*картинка не занимает всю высоту, а оставляет наверху дырку*/
    max-width: 100%; /*чтобы элементы не занимали больше, чем надо*/
    height: auto;
    object-fit: cover; /*если картинка не влезет в обертку, то мы ее обрежем*/
}
/*form*/
input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
}
input::-ms-clear {  /*убираем крестик, который может появиться в Internet Explorer*/
    display: none;
}
button, input[type="submit"] {
    display:inline-block;
    box-shadow: none; /*отсутсвует тень*/
    background-color: transparent; /*прозрачный фоновый цвет*/
    cursor: pointer; /*меняем курсор при наведении*/
}
button::-moz-focus-inner { /*сбрасываем отступы у кнопки, которые есть в моозилле*/
    padding: 0;
    border: none;
}
label {
    cursor: pointer;
}
legend {
    display: block;
}