@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
/*Контейнер предназначен, чтобы ограничить содержимое сайта и центрировать его*/
.container {
    max-width: 970px; /*940 + 30 на padding'и*/
    padding: 0 15px; /*боковые отступы по 15 пикселей, чтобы ничего не приклеивалось*/
    margin: 0 auto; /*слева и справа автоматические отступы --> контент центрируется*/
}
p {
    line-height: 1.8; 
    /*lh делим на fz, который задан = 25/14 = 1.8, получаем множитель. 
    Теперь fz всегда будет умножаться на этот множитель*/
    color: #6A859C;
}
.title-wrapper {
    margin-bottom: 60px;
}
.title {
    margin-bottom: 17px;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #676770;
}
.subtitile {
    font-size: 17px;
    line-height: 1.2;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #8E8E9C;
}
.common-section {
    text-align: center;
    padding: 80px 0;
}
.common-section--dark {
    background-color: #192024;
}
.common-section--dark *{ /*делаем звездочку, чтобы то, что было установлено до, не сработало
    например, у параграфа установлен другой цвет*/
    color:#fff;
}
.common-section--dark.subtitile {
    color:#E8E8E8;
}
.hide {
    display: none;
}
/*---------------header--------------*/
.header 
{
    padding: 20px 0;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;

    background-color: #fff;

    z-index: 100;

    box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
}
.header__container 
{
    display: flex;
    justify-content: space-between;
    align-items: center; /*центрируется по вертикальной оси*/
}
.logo 
{

    Font-size: 25px;
    Letter-spacing: 4px; /*расстояние между буквами*/
    text-transform: uppercase; /*заглавные буквы*/
    color: #69B9FF;
}
.header__nav ul
{
    display: flex;
    
}
/*все li в header_nav, у которых есть сосед слева тоже li*/
.header__nav li + li { 
    margin-left: 40px;
}
.header__nav a {
    font-size: 16px;
    color: #676770;
    transition: color 0.2s;
}
.header__nav a:hover {
    color:#0082F3;
}
.header__nav a:active {
    color:#0062b6;
}
/*-----------------------main--------------------------*/
.main {
}
.welcome {
    min-height: 600px;
    height: 100vh; /*100% от высоты браузера*/
    padding: 195px 0px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff; /*если вдруг картинка не отобразится, то фон будет похож на картинку*/
    text-align: center;

    background-color: #282936;
    background-image: url('img/welcome_bg.jpeg');
    background-size: cover; /*полностью по ширине помещалась в кадр*/
    background-position: center;
    
}
.container {
}
.welcome__heading {
    margin-bottom: 100px;

    font-size: 59px;
    line-height: 1; /*сколько fz столько и lh*/

    letter-spacing: 4px;
    text-transform: uppercase;
}
.welcome__links {
}

.welcome__links > * + * { 
    /*любой элемент из welcome links, который имеет предыдущего соседа*/
    margin-left: 20px;

}
.link-primary {
    display: inline-block;
    padding: 11px 31px;
    
    background-color: #69B9FF;
    border-radius: 4px;

    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;

    transition: background-color 0.2s;
}
.link-primary:hover {
    background-color: #7cc2ff;
}
.link-primary:active {
    background-color: #0f88ff;
}

.link {
    display: inline-block;
    padding: 10px 30px;

    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;

    border: 1px solid #FFFFFF;
    border-radius: 4px;

    transition: background-color 0.2s, border-color 0.2s;
}

.link:hover {
    background-color: rgba(255,255,255,0.2);
    border-color: rgba(255,255,255,0.5);
}
.link:active {
    background-color: rgba(0,0,0,0.2);
    border-color: rgba(0,0,0,0.5);
}
/*----------------------------- ABOUT ----------*/
.about {
    
}
.about .cards-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; /*row gap и column gap*/
}
.about .card {
    padding: 35px 15px 25px;
    max-width: 300px;
    border: 1px solid #DCEBF7;
}
.about .card img {
    margin-bottom: 20px;

    width: 94px;
    height: 94px;
    object-fit: contain; /*картинка полностью помещалась в размер*/
}

.about .card h4 {
    margin-bottom: 15px;

    line-height: 1.5;
    letter-spacing: 7px;
    text-transform: uppercase;
    color: #676770;
}
/*-----------------services----------------------*/
.services {
}
.services .cards-wrapper {
    display: flex;
    justify-content: space-between;

}
.services .card {
    width: 45%;
}
.services .card img {
    margin-bottom: 20px;
}
.services .card h4 {
    margin-bottom: 20px;

    font-size: 20px;
    line-height: 1.5;
    text-transform: uppercase;
}
.services .link {
    margin-top: 15px;
}
/*-----------------tabs--------------------------*/

.tabs__nav {
    margin-bottom: 50px;
}
.tabs__nav button{
    background: #92A0AD;
    border-radius: 4px;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0 30px;
}
.tabs__nav button.active {
    background: #2E80B6;
}
.tabs__nav button + button { /*все кнопки, у которых есть сосед слева*/
    margin-left: 15px;
}
.tabs__item {
    animation: fade 1s; /*анимация размытия*/
}
@keyframes fade {
    from {
        opacity: 0.3; /*прозрачность 30%*/
    }
    to {
        opacity: 1; /*прозрачность 100%*/
    }
}
.tabs__item img{
    margin-bottom: 15px;
}
.tabs__item h4 {
    margin-bottom: 15px;
    
    font-size: 31px;
    line-height: 1.1;
    color: #676770;
}
.tabs__desc {
    min-width: 720px;
    margin: 0 auto; /*слева-справа автоматически - одинаковая*/
}
/*-------------footer-------------*/
.footer {
}
.footer__desc {
    padding: 35px 0;
}
.footer__desc h4 {
    margin-bottom: 25px;

    font-size: 18px;
    line-height: 1.1px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #676770;
}
.container {
}
.footer__desc-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px 40px;
}
.footer__desc-container > * { /*все элементы*/
    width: 30%;
    min-width: 220px;
}
.footer__desc a {
    font-size: 13px;
    /* identical to box height, or 154% */
    color: #668CAD;
}
.footer__desc li {
    height: 30px;
    position: relative;
}
.footer__desc li::before {
    content:"";
    width: 100%;
    height: 1px;

    position: absolute;

    right: 0;
    bottom: 0;

    background-color:  #D5D5E0;
    
}
.footer__social li::before {
    width: calc(100% - 30px);
}
.footer__desc li + li { /*выбираются все кроме 1-ой*/
    margin-top: 6px;
}
.footer__desc img { 
    margin-right: 10px;
}
.footer__about {
}
.footer__links {
}
.footer__social {
}
.footer__social img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}
.footer__copy {
    background-color: #383838;
    padding: 40px 0;
    text-align: center;
}
.footer__copy p {
    color: #9E9E9E;

}
/*------------------media------------------------*/

@media (max-width: 400px) /*до этой ширины будет работать этот медиа запрос*/
{
  .header__nav li + li {
    margin-left: 20px;
  }
  .welcome__heading {
    font-size: 40px;
    margin-bottom: 50px;
  }
  .welcome__links a{
    display: block;
    width: 80%;
    /*центрируем*/
    margin-left: auto;
    margin-right: auto;
  }
  .welcome__links > * + * {
    margin-top: 20px;
  }
  body {
    font-size: 12px;
  }
  .about .card h4 {
    font-size: 16px;
  }
  .services .card {
    font-size: 16px;
}
.services .card .link{
    font-size: 14px;
}
.tabs__item h4 {
    font-size: 24px;
}
}
@media (max-width: 600px) {
    .services .cards-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .services .card {
        width: 80%;
    }
    .title-wrapper {
        margin-bottom: 40px;
    }
}
@media (max-width: 660px) {
    .tabs__nav {
        margin-bottom: 30px;
    }
    .tabs__nav button{
        display: block;
        margin: 0 auto;
        padding: 10px 30px;
    }
    .tabs__nav button + button {
        margin-top: 10px;
        margin-left: auto;
    }
}

@media (max-width: 829px) {
    .footer__desc-container {
      justify-content: space-evenly;
    }
    .footer__desc h4 {
      margin-bottom: 10px;
    }
    .footer__desc {
      padding-top: 0;
    }
  }